extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title

  .row
    .col-xs-12
      each attraction in attractions
        .attraction
          h4= attraction.name
          p Location: #{attraction.location}
          p Description: #{attraction.description}
          p Rating: #{attraction.rating}