extends layout
block content
  .row.page-header
    .col-lg-12
      h1(style="margin-top:100px") City Lights Hotel

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          p 789 Downtown Street, Mumbai, 400001

      .panel.panel-primary
        .panel-heading
          h2.panel-title Opening hours
        .panel-body
          p Monday - Friday : 10:00am - 10:00pm
          p Saturday : 11:00am - 9:00pm
          p Sunday : 11:00am - 8:00pm

      .panel.panel-primary
        .panel-heading
          h2.panel-title Facilities
        .panel-body
          span.label.label-warning
            span.glyphicon.glyphicon-ok
            | &nbsp;City Tours
          | &nbsp;
          span.label.label-warning
            span.glyphicon.glyphicon-ok
            | &nbsp;Luxury Stay
          | &nbsp;
          span.label.label-warning
            span.glyphicon.glyphicon-ok
            | &nbsp;Nightlife
          | &nbsp;

    .col-xs-12.col-sm-6.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location map
        .panel-body
          iframe(
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8272226612307!2d78.6534712403193!3d17.420077383541535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb76730bf4dccf%3A0x2ca84b53416f0abd!2sAnurag%20University%2C%20Hyderabad!5e0!3m2!1sen!2sin!4v1690526278364!5m2!1sen!2sin",
            width="350",
            height="350",
            style="border:0;",
            allowfullscreen="",
            loading="lazy",
            referrerpolicy="no-referrer-when-downgrade"
          )
  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new') Add review
          h2.panel-title Visitor reviews
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                span.rating
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                span.reviewAuthor David Roberts
                small.reviewTimestamp 22 September 2023
              .col-xs-12
                p A wonderful stay with great city tours, though the nightlife could be more lively.
          .row
            .review
              .well.well-sm.review-header
                span.rating
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                span.reviewAuthor Sarah Lee
                small.reviewTimestamp 15 August 2023
              .col-xs-12
                p The hotel was luxurious, but the city tours felt a bit rushed.

    .col-xs-12.col-md-3
      p.lead
        | City Lights Hotel is featured on TravelMate for its luxury stay and exciting city tours in Mumbai.
      p
        | If you've stayed here, feel free to leave a review to help fellow travelers plan their visit.
